* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Regular.eot');
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('fonts/ProximaNova-Regular.woff') format('woff'),
      url('fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Extra Condensed';
	src: url('fonts/ProximaNovaExCn-Light.eot');
	src: url('fonts/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNovaExCn-Light.woff') format('woff'),
		url('fonts/ProximaNovaExCn-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Condensed';
	src: url('fonts/ProximaNovaCond-Bold.eot');
	src: url('fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNovaCond-Bold.woff') format('woff'),
		url('fonts/ProximaNovaCond-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
/* Fonts ends */

body {
  background-color: #f9f9f9;
}

h1 {
  font-family: "Proxima Nova";
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 125px;
}

p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  max-width: auto;
}

.card {
  width: 263px;
  display: flex;
  height: 400px;
  margin: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.card-img {
  display: flex;
  justify-content: center;
  width: 263px;
  height: 210px;
  margin: auto;
  background-color: #fff;
}

.img {
  height: 210px;
  width: auto;
}

.card-info {
  margin: auto;
  font-size: 16px;
  font-family: "Proxima Nova";
  font-weight: 300;
}

.card-price {
  margin: auto;
  font-size: 18px;
  font-family: "Proxima Nova Condensed";
  font-weight: 900;
}

.btn {
  width: 200px;
  height: 55px;
  margin: auto;
  font-size: 13px;
  font-family: "Proxima Nova";
  text-transform: uppercase;
  border: 1px solid #23bac1;
  color: #23bac1;
  background-color: #f9f9f9;
}
