/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "FuturaDemiC";

  src: url("./fonts/FuturaDemiC.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}