@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 1150px )
  .clients
    &-card
      min-height: 37rem
  
@media screen and ( max-width: 992px )
  html
    font-size: 12px
  .nav
    display: none
  .button
    &
  .design
    margin-bottom: 0rem

  .steps
    display: none
  .team
    background-color: $dark
    margin-top: 0
    &__text
      color: $light
  .types
    &-card
      &__pricetag
        min-width: 11rem 
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .clients
    &-card
      min-height: 40rem
      &__item
        padding-right: 1rem
        &-txt
          max-width: 3.5rem
          font-size: 1rem
        &-group
      &__scale
        width: 25px
        margin-right: 0.5rem
      &__note
        width: 25px
        margin-right: 0.5rem
      &__item
        &--first
          min-width: 8rem
          max-width: 9rem
        &--second
          min-width: 8rem
          max-width: 9rem
@media screen and ( max-width: 850px )
  .team
    &-card
      &__name
        font-size: 1rem
      &__role
        font-size: 0.95rem
      &__exp
        font-size: 0.8rem
      &__group
        bottom: -13rem
      &__role
        padding-bottom: 0.5rem
    &__text
      padding-top: 17rem
  .advantages
    display: none
  .clients
    display: none
  .footer
    &__wrap
      margin-top: 0
@media screen and ( max-width: 770px )
  .display-yes
    display: none
  .display-none
    display: list-item
  .design__row 
    display: flex
    align-items: flex-start
    justify-content: space-between
  .design__col
    flex-basis: 32%
    z-index: 1
  .design
    position: relative
    background-color: #fff
    // background-image: url('../img/design-bg.svg')
    background-position: center center
    // background: $light url('../img/Rectangle 11.2.png')
    background-size: 50% 50%
    padding-bottom: 0
    color: $dark
    &::before
      position: absolute
      content: ''
      width: 100%
      height: 48%
      bottom: 0
      z-index: -1
      background-color: $dark

    &__description
      color: $dark
      font-size: 1.4rem
      max-width: 52rem
      margin-top: 1.4rem
      margin-bottom: 3.2rem
      letter-spacing: 0.15px
      line-height: 1.4
    &__section-title
      color: $dark
    &__card
      &-image
        display: block
        width: 98%
        margin: auto
      &-text
        position: relative
        max-width: 23.6rem
        margin: 0
        margin-top: -9.1rem
        padding: 1.79rem 2.14rem
        background-color: #fff
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
      &-title
          font-family: 'Yeseva One', cursive
          font-size: 1.29rem
          margin-top: 0
          margin-bottom: 0.7rem
      &-list
        padding: 0 0 0 1.5rem
        margin: 0
        margin-bottom: 2.5rem
        font-size: 1.2rem
        line-height: 1.81rem
        color: $secondary
      &-pricetag
        position: absolute
        left: 0
        bottom: -1.4rem
        min-width: 9.285rem
        font-size: 1.29rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase
        text-align: left
        background-color: $primary
        color: $light
        padding: 1.214rem 2.5rem 1.214rem 2.3rem

  .design
    &__card
      &-pricetag
        min-width: 16.285rem
        padding-right: 5.6rem
  .types
    & .col
      &-30
        width: 95%
    & .row
      flex-direction: column
      align-items: center
      justify-content: space-between
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__image
      display: block
      width: 100%
      margin: auto
    &__text
      position: relative
      max-width: 22rem
      margin: 0
      margin-top: -9.1rem
      padding: 1.79rem 2.14rem
      background-color: #fff
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    &-title
      font-family: 'Yeseva One', cursive
      font-size: 1.29rem
      margin-top: 0
      margin-bottom: 0.7rem
    &-list
      padding: 0 0 0 1rem
      margin: 0
      margin-bottom: 2.5rem
      font-size: 1.07rem
      line-height: 1.79rem
      color: $secondary
    &-pricetag
      position: absolute
      left: 0
      bottom: -1.79rem
      font-size: 1.29rem
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      background-color: $primary
      color: $light
      padding: 1.214rem 2.6rem
  .row
    flex-direction: column
    align-items: center
    justify-content: space-between
  .container
    width: 95%
  .col
    &-30
      width: 95%
    &-50
      width: 95%
  .button
    &__scroll
      &-up
        display: none !important
  .team
    background-color: $dark
    padding-top: 10rem
    padding-bottom: 1.1rem
    margin-top: -9rem
    font-size: 2rem
    letter-spacing: 1.6px
    &__text
      display: none
    &__description
      font-size: 1.03rem
      letter-spacing: 0.3px
      width: 93%
    &__row
      justify-content: space-between
    &-card
      position: relative
      margin: 0.4rem auto
      // height: 30rem
      margin-bottom: 25rem
      width: 86%
      margin-left: 2.8rem
      &__role
        padding-top: 0
        letter-spacing: 0.1px
        font-size: 1.35rem
      &__name
        padding-top: 1.2rem
        font-size: 1.2rem
        letter-spacing: 1.25px
      &__group
        bottom: -11rem
        left: 12%
        width: 76%
      &__image
        width: 100%
      &--first
        &::before
          width: 70px
      &--second
        &::before
          width: 70px
      &--third
        &::before
          width: 70px
  
@media screen and ( max-width: 570px )
  html
    font-size: 14px
  .row
    flex-direction: column
    align-items: center
    justify-content: space-between
  .container
    width: 95%
  .col
    &-30
      width: 95%
    &-50
      width: 95%
  .button
    &__scroll
      &-up
        display: none !important

  .types
    &__card
      margin-bottom: 5rem
  .card
    &__image
      display: block
      width: 100%
      margin: auto
    &__text
      position: relative
      max-width: 22rem
      margin: 0
      margin-top: -9.1rem
      padding: 1.79rem 2.14rem
      background-color: #fff
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    &-title
      font-family: 'Yeseva One', cursive
      font-size: 1.29rem
      margin-top: 0
      margin-bottom: 0.7rem
    &-list
      padding: 0 0 0 1rem
      margin: 0
      margin-bottom: 2.5rem
      font-size: 1.07rem
      line-height: 1.79rem
      color: $secondary
    &-pricetag
      position: absolute
      left: 0
      bottom: -1.79rem
      font-size: 1.29rem
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      background-color: $primary
      color: $light
      padding: 1.214rem 2.6rem


  .team
    &-card
      &__group
        bottom: -9rem
        left: 12%
        width: 76%

  .section
    &-title
      text-align: center
      &__text
        margin: auto
        width: 95%
        max-width: 95%
  .swiper
    &-pagination2
      left: 43% !important
      // left: 0 !important
      margin: auto
    &-button
      &-next2
        left: 40% !important
        margin: auto 
      &-prev2
        left: 25% !important
        margin: auto 

  .steps
    display: none
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      margin: auto
      // max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      width: 100%
      margin-bottom: 1.85rem
  .projects
    &__title
      &--mobile
        display: block
      &--desktop
        display: none  
      &-heading
        text-align: center
    &__text
      width: 95%
      margin-bottom: 2.57em
    &__row
      flex-direction: column-reverse

  .control
  
  // .team
  //   background-color: $dark
  //   padding-top: 10rem
  //   padding-bottom: 1.1rem
  //   margin-top: -9rem
  //   font-size: 2rem
  //   letter-spacing: 1.6px
  //   &__text
  //     display: none
  //   &__description
  //     font-size: 1.03rem
  //     letter-spacing: 0.3px
  //     width: 93%
  //   &__row
  //     justify-content: space-between
  //   &-card
  //     position: relative
  //     margin: 0.4rem auto
  //     height: 30rem
  //     margin-bottom: 25rem
  //     width: 86%
  //     margin-left: 2.8rem
  //     &__role
  //       padding-top: 0
  //       letter-spacing: 0.1px
  //       font-size: 1.35rem
  //     &__name
  //       padding-top: 1.2rem
  //       font-size: 1.2rem
  //       letter-spacing: 1.25px
  //     &__group
  //       bottom: -18rem
  //       left: 12%
  //       width: 76%
  //     &__image
  //       width: 100%
  //     &--first
  //       &::before
  //         width: 70px
  //     &--second
  //       &::before
  //         width: 70px
  //     &--third
  //       &::before
  //         width: 70px
  .clients
    display: none
  .footer
    padding-top: 0
    padding-bottom: 2rem
    background-color: $dark
    background-image: none
    &__title
      margin-bottom: 3.65rem
    &__input
      width: 100%
      border-bottom: 1px solid $light
      &-group
        flex-basis: 100%
        width: 100%
        margin-bottom: 4.3rem
        &--third
          margin-bottom: 0.3rem
    &__description
      font-size: 1.3rem
      max-width: 89%
      line-height: 1.9rem
    &__adress
      & br
        display: none
    &__icon
      margin: 0 11px
      width: 39px
      height: 39px
    &__image
      width: 18px
    &__map
      margin: 0
    &__wrap
      margin-top: 0
      padding: 1rem 0.5rem 
      background-color: $dark
      &--second
        display: flex
        flex-direction: column-reverse
        justify-content: space-between
    &__policy
      justify-content: flex-start
    &__button
      margin-top: 1rem
      width: 100%
      font-size: 1.2rem
    &__menu
      display: none
  .policy
    &__label
      justify-content: flex-start
  .map
    height: 255px
    &__wrap
      height: 255px
      margin-bottom: 1.5rem
  .button
    &__scroll-up
      display: none

 
// Media for design section MOBILE FIRST !!!

  


//  media for scroll-down
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
   






 

